* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #F5F4F8;
}

header {
    .avatar {
        width: 50px;
        height: 50px;
    }
    .divIcon {
        background-color: #F5F4F8;
    }

    .headerIcon {
        font-size: 19px;
    }
}

main {
    .box1 {
        display: flex;
        justify-content: center;
        padding-left: 14%;
        padding-right: 14%;
    }

    .cont1Color{
        background-color: #7550FE;
    }

    .padColLef {
        padding-left: 20%;
    }
    .padColRight {
        padding-right: 20%;
    }
    .iconBlock1 {
        color: #C28135;
        font-size: 20px;
    }
    .divIconBlock1{
        padding: 20px;
        background-color: #FFEEDA;
    }
    .box3 {
        padding-left: 14%;
        padding-right: 14%;
    }
    .avatarCard {
        width: 35px;
        height: 35px;
    }
    .butLeft {
        left: 11%;
    }
    .butRight {
        right: 11%;
    }
    .butWi{
        background-color: white;
    }
    .fotPadL {
        margin-left: 14%;
    }
    .fotPadR {
        padding-right: 14%;
    }
}

footer {
    .box3 {
        padding-left: 14%;
        padding-right: 14%;
    }
}