/*
1 creazione del testo e formattazione di 1 parola da far ruotare
2 inserimento delle altre 2 parole
3 sovrapporre le 3 parole
4 mostrare 1 parola e nascondere le altre 2
5 animare 1 parola (fadein - fadeout con spostamento)
6 animare le altre 2 parole
7 ritardare progressivamente l'animazione delle altre 2 parole 
*/

* {
    margin: 0px;
    pad: 0px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-weight: 800;
    font-size: 34px;
}

#testoAlternato {
    border: 2px solid black;
    padding: 30px 150px 30px 30px;
}

.parole {
    color: #6A889C;
}

#testoAlternato {
    text-align: center;
}

.parole {
    display: inline-block;
    position: relative;
    height: 1em; /* Altezza degli elementi <i> */
}

.parole i {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    opacity: 0;
    animation: slideFade 6s ease-in-out infinite;
}

.parole i:nth-child(1) {
    animation-delay: 0s;
}

.parole i:nth-child(2) {
    animation-delay: 2s;
}

.parole i:nth-child(3) {
    animation-delay: 4s;
}

@keyframes slideFade {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }
    10% {
        opacity: 1;
        transform: translateY(0);
    }
    30% {
        opacity: 1;
        transform: translateY(0);
    }
    40% {
        opacity: 0;
        transform: translateY(100%);
    }
    100% {
        opacity: 0;
        transform: translateY(100%);
    }
}