.imgCard {
    width: 100%;
    height: 350px;
}

.listaCarello {
    height: 100vh; /* Usa 100% dell'altezza della viewport */
    max-height: 80vh; /* Altezza massima, per esempio, 80% della viewport */
    overflow-y: auto; /* Abilita lo scroll verticale */
    overflow-x: hidden; /* Disabilita lo scroll orizzontale, se non necessario */
    position: fixed;
    top: 0;
    right: 0; /* Aggiungi right per assicurarti che sia allineato a destra */
    background-color: #f8f9fa; /* Imposta un colore di sfondo chiaro per visibilità */
    padding: 0rem 0rem 0rem 1rem; /* Padding per dare un po' di spazio interno */
    box-shadow: -2px 0 5px rgba(0,0,0,0.1); /* Aggiungi una leggera ombra per il contrasto */
  }